# Working with dates and time

## DateTime Operations with Pandas

### Converting Strings to Datetime
Pandas provides the `pd.to_datetime()` function to convert strings to datetime objects.

```python
pd.to_datetime("2019-12-31")
pd.to_datetime("2019/12/31")
pd.to_datetime("December 31st 2019")
pd.to_datetime("December 31st 2019 4pm")
pd.to_datetime("December 31st 2019 4:50am")
pd.to_datetime("Dec. 31st 2019")
pd.to_datetime("3:55:45 Apr. 2nd 90")
```

### Handling Ambiguous Formats
You can specify whether the day or year appears first when handling ambiguous date formats.

```Python
pd.to_datetime("10/11/12", dayfirst=True)  # Interprets as 10th November 2012
pd.to_datetime("10/11/12", yearfirst=True, dayfirst=True)  # Interprets as 2010 11th December
```
### Custom Date Format
Use the format parameter to define a specific date format.

```Python
pd.to_datetime("10/11/12", format="%y/%m/%d")
pd.to_datetime(["Dec 11 2019 Meeting", "Jan 24 2024 Meeting"], format="%b %d %Y Meeting")
```

### Converting a Series
`pd.to_datetime()` also works with Pandas Series.

```Python
dates = pd.Series(["2022-03-15", "March 20th 2023", "15/03/2022"])
pd.to_datetime(dates)
```

### Parsing Dates During CSV Reading
You can specify which columns to parse as dates when reading a CSV file.

```Python
df = pd.read_csv("data.csv", parse_dates=["date_column"])
```

In [2]:
import pandas as pd

In [3]:
pd.to_datetime("2019-12-31")

Timestamp('2019-12-31 00:00:00')

In [4]:
pd.to_datetime("2019/12/31")

Timestamp('2019-12-31 00:00:00')

In [5]:
pd.to_datetime("December 31st 2019")

Timestamp('2019-12-31 00:00:00')

In [6]:
pd.to_datetime("December 31st 2019 4pm")

Timestamp('2019-12-31 16:00:00')

In [7]:
pd.to_datetime("December 31st 2019 4:50am")

Timestamp('2019-12-31 04:50:00')

In [8]:
pd.to_datetime("Dec. 31st 2019")

Timestamp('2019-12-31 00:00:00')

In [9]:
pd.to_datetime("3:55:45 Apr. 2nd 90")

Timestamp('1990-04-02 03:55:45')

In [10]:
pd.to_datetime("10/11/12", dayfirst=True)

Timestamp('2012-11-10 00:00:00')

In [11]:
pd.to_datetime("10/11/12", yearfirst=True, dayfirst=True)

Timestamp('2010-12-11 00:00:00')

In [12]:
pd.to_datetime("10/11/12", format="%y/%m/%d")

Timestamp('2010-11-12 00:00:00')

In [13]:
pd.to_datetime(["Dec 11 2019 Meeting", "Jan 24 2024 Meeting"], format="%b %d %Y Meeting")

DatetimeIndex(['2019-12-11', '2024-01-24'], dtype='datetime64[ns]', freq=None)

In [14]:
ufos = pd.read_csv("../data/nuforc_reports.csv")
ufos

,summary,city,state,date_time,shape,duration,stats,report_link,text,posted,city_latitude,city_longitude
0,My wife was driving southeast on a fairly popu...,Chester,VA,2019-12-12T18:43:00,light,5 seconds,Occurred : 12/12/2019 18:43 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151739.html,My wife was driving southeast on a fairly popu...,2019-12-22T00:00:00,37.343152,-77.408582
1,I think that I may caught a UFO on the NBC Nig...,Rocky Hill,CT,2019-03-22T18:30:00,circle,3-5 seconds,Occurred : 3/22/2019 18:30 (Entered as : 03/2...,http://www.nuforc.org/webreports/145/S145297.html,I think that I may caught a UFO on the NBC Nig...,2019-03-29T00:00:00,41.664800,-72.639300
2,I woke up late in the afternoon 3:30-4pm. I we...,NaN,NaN,NaN,NaN,NaN,Occurred : 4/1/2019 15:45 (Entered as : April...,http://www.nuforc.org/webreports/145/S145556.html,I woke up late in the afternoon 3:30-4pm. I w...,NaN,NaN,NaN
3,I was driving towards the intersection of fall...,Ottawa,ON,2019-04-17T02:00:00,teardrop,10 seconds,Occurred : 4/17/2019 02:00 (Entered as : 04-1...,http://www.nuforc.org/webreports/145/S145697.html,I was driving towards the intersection of fall...,2019-04-18T00:00:00,45.381383,-75.708501
4,"In Peoria Arizona, I saw a cigar shaped craft ...",Peoria,NY,2009-03-15T18:00:00,cigar,2 minutes,Occurred : 3/15/2009 18:00 (Entered as : 03/1...,http://www.nuforc.org/webreports/145/S145723.html,"In Peoria, Arizona, I saw a cigar shaped craft...",2019-04-18T00:00:00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
88120,4 lights in formation over Tempe appear while ...,Tempe,AZ,2019-10-02T20:00:00,formation,3 minutes,Occurred : 10/2/2019 20:00 (Entered as : 10/2...,http://www.nuforc.org/webreports/149/S149463.html,4 lights in formation over Tempe appear while ...,2019-10-04T00:00:00,33.414036,-111.920920
88121,"2 bright star like lights in the NNW skys, ((...",Bolivar,MO,2019-10-02T20:00:00,light,20 seconds,Occurred : 10/2/2019 20:00 (Entered as : 10/0...,http://www.nuforc.org/webreports/149/S149405.html,2 bright star like lights in the NNW sky two b...,2019-10-04T00:00:00,37.642200,-93.399600
88122,I just witnessed a ‘Phoenix Lights’ type of fo...,North Port,FL,2019-10-02T20:03:00,formation,20 seconds,Occurred : 10/2/2019 20:03 (Entered as : 10/0...,http://www.nuforc.org/webreports/149/S149424.html,10/2/19 @ 8:03PM EST UFO SIGHTING in the 3428...,2019-10-04T00:00:00,27.076210,-82.223280
88123,"Witnessed an orange, slow moving light. Was lo...",Black Mountain,NC,2019-10-02T22:00:00,fireball,2 minutes,Occurred : 10/2/2019 22:00 (Entered as : 10/0...,http://www.nuforc.org/webreports/149/S149447.html,"Witnessed an orange, slow moving light. Was lo...",2019-10-04T00:00:00,35.605000,-82.313200
88124,Glowing lights in formation just south of San...,Marin County,CA,2019-10-02T22:00:00,sphere,3 minutes,Occurred : 10/2/2019 22:00 (Entered as : 10-0...,http://www.nuforc.org/webreports/149/S149436.html,Glowing lights in formation just south of San...,2019-10-04T00:00:00,NaN,NaN

In [15]:
ufos["date_time"] = pd.to_datetime(ufos["date_time"])
ufos

,summary,city,state,date_time,shape,duration,stats,report_link,text,posted,city_latitude,city_longitude
0,My wife was driving southeast on a fairly popu...,Chester,VA,2019-12-12 18:43:00,light,5 seconds,Occurred : 12/12/2019 18:43 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151739.html,My wife was driving southeast on a fairly popu...,2019-12-22T00:00:00,37.343152,-77.408582
1,I think that I may caught a UFO on the NBC Nig...,Rocky Hill,CT,2019-03-22 18:30:00,circle,3-5 seconds,Occurred : 3/22/2019 18:30 (Entered as : 03/2...,http://www.nuforc.org/webreports/145/S145297.html,I think that I may caught a UFO on the NBC Nig...,2019-03-29T00:00:00,41.664800,-72.639300
2,I woke up late in the afternoon 3:30-4pm. I we...,NaN,NaN,NaT,NaN,NaN,Occurred : 4/1/2019 15:45 (Entered as : April...,http://www.nuforc.org/webreports/145/S145556.html,I woke up late in the afternoon 3:30-4pm. I w...,NaN,NaN,NaN
3,I was driving towards the intersection of fall...,Ottawa,ON,2019-04-17 02:00:00,teardrop,10 seconds,Occurred : 4/17/2019 02:00 (Entered as : 04-1...,http://www.nuforc.org/webreports/145/S145697.html,I was driving towards the intersection of fall...,2019-04-18T00:00:00,45.381383,-75.708501
4,"In Peoria Arizona, I saw a cigar shaped craft ...",Peoria,NY,2009-03-15 18:00:00,cigar,2 minutes,Occurred : 3/15/2009 18:00 (Entered as : 03/1...,http://www.nuforc.org/webreports/145/S145723.html,"In Peoria, Arizona, I saw a cigar shaped craft...",2019-04-18T00:00:00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
88120,4 lights in formation over Tempe appear while ...,Tempe,AZ,2019-10-02 20:00:00,formation,3 minutes,Occurred : 10/2/2019 20:00 (Entered as : 10/2...,http://www.nuforc.org/webreports/149/S149463.html,4 lights in formation over Tempe appear while ...,2019-10-04T00:00:00,33.414036,-111.920920
88121,"2 bright star like lights in the NNW skys, ((...",Bolivar,MO,2019-10-02 20:00:00,light,20 seconds,Occurred : 10/2/2019 20:00 (Entered as : 10/0...,http://www.nuforc.org/webreports/149/S149405.html,2 bright star like lights in the NNW sky two b...,2019-10-04T00:00:00,37.642200,-93.399600
88122,I just witnessed a ‘Phoenix Lights’ type of fo...,North Port,FL,2019-10-02 20:03:00,formation,20 seconds,Occurred : 10/2/2019 20:03 (Entered as : 10/0...,http://www.nuforc.org/webreports/149/S149424.html,10/2/19 @ 8:03PM EST UFO SIGHTING in the 3428...,2019-10-04T00:00:00,27.076210,-82.223280
88123,"Witnessed an orange, slow moving light. Was lo...",Black Mountain,NC,2019-10-02 22:00:00,fireball,2 minutes,Occurred : 10/2/2019 22:00 (Entered as : 10/0...,http://www.nuforc.org/webreports/149/S149447.html,"Witnessed an orange, slow moving light. Was lo...",2019-10-04T00:00:00,35.605000,-82.313200
88124,Glowing lights in formation just south of San...,Marin County,CA,2019-10-02 22:00:00,sphere,3 minutes,Occurred : 10/2/2019 22:00 (Entered as : 10-0...,http://www.nuforc.org/webreports/149/S149436.html,Glowing lights in formation just south of San...,2019-10-04T00:00:00,NaN,NaN

In [16]:
ufos = pd.read_csv("../data/nuforc_reports.csv", parse_dates=["date_time"])
ufos

,summary,city,state,date_time,shape,duration,stats,report_link,text,posted,city_latitude,city_longitude
0,My wife was driving southeast on a fairly popu...,Chester,VA,2019-12-12 18:43:00,light,5 seconds,Occurred : 12/12/2019 18:43 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151739.html,My wife was driving southeast on a fairly popu...,2019-12-22T00:00:00,37.343152,-77.408582
1,I think that I may caught a UFO on the NBC Nig...,Rocky Hill,CT,2019-03-22 18:30:00,circle,3-5 seconds,Occurred : 3/22/2019 18:30 (Entered as : 03/2...,http://www.nuforc.org/webreports/145/S145297.html,I think that I may caught a UFO on the NBC Nig...,2019-03-29T00:00:00,41.664800,-72.639300
2,I woke up late in the afternoon 3:30-4pm. I we...,NaN,NaN,NaT,NaN,NaN,Occurred : 4/1/2019 15:45 (Entered as : April...,http://www.nuforc.org/webreports/145/S145556.html,I woke up late in the afternoon 3:30-4pm. I w...,NaN,NaN,NaN
3,I was driving towards the intersection of fall...,Ottawa,ON,2019-04-17 02:00:00,teardrop,10 seconds,Occurred : 4/17/2019 02:00 (Entered as : 04-1...,http://www.nuforc.org/webreports/145/S145697.html,I was driving towards the intersection of fall...,2019-04-18T00:00:00,45.381383,-75.708501
4,"In Peoria Arizona, I saw a cigar shaped craft ...",Peoria,NY,2009-03-15 18:00:00,cigar,2 minutes,Occurred : 3/15/2009 18:00 (Entered as : 03/1...,http://www.nuforc.org/webreports/145/S145723.html,"In Peoria, Arizona, I saw a cigar shaped craft...",2019-04-18T00:00:00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
88120,4 lights in formation over Tempe appear while ...,Tempe,AZ,2019-10-02 20:00:00,formation,3 minutes,Occurred : 10/2/2019 20:00 (Entered as : 10/2...,http://www.nuforc.org/webreports/149/S149463.html,4 lights in formation over Tempe appear while ...,2019-10-04T00:00:00,33.414036,-111.920920
88121,"2 bright star like lights in the NNW skys, ((...",Bolivar,MO,2019-10-02 20:00:00,light,20 seconds,Occurred : 10/2/2019 20:00 (Entered as : 10/0...,http://www.nuforc.org/webreports/149/S149405.html,2 bright star like lights in the NNW sky two b...,2019-10-04T00:00:00,37.642200,-93.399600
88122,I just witnessed a ‘Phoenix Lights’ type of fo...,North Port,FL,2019-10-02 20:03:00,formation,20 seconds,Occurred : 10/2/2019 20:03 (Entered as : 10/0...,http://www.nuforc.org/webreports/149/S149424.html,10/2/19 @ 8:03PM EST UFO SIGHTING in the 3428...,2019-10-04T00:00:00,27.076210,-82.223280
88123,"Witnessed an orange, slow moving light. Was lo...",Black Mountain,NC,2019-10-02 22:00:00,fireball,2 minutes,Occurred : 10/2/2019 22:00 (Entered as : 10/0...,http://www.nuforc.org/webreports/149/S149447.html,"Witnessed an orange, slow moving light. Was lo...",2019-10-04T00:00:00,35.605000,-82.313200
88124,Glowing lights in formation just south of San...,Marin County,CA,2019-10-02 22:00:00,sphere,3 minutes,Occurred : 10/2/2019 22:00 (Entered as : 10-0...,http://www.nuforc.org/webreports/149/S149436.html,Glowing lights in formation just south of San...,2019-10-04T00:00:00,NaN,NaN

In [17]:
ufos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88125 entries, 0 to 88124
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   summary         88095 non-null  object
 1   city            87888 non-null  object
 2   state           82890 non-null  object
 3   date_time       86938 non-null  datetime64[ns]
 4   shape           85627 non-null  object
 5   duration        84951 non-null  object
 6   stats           88088 non-null  object
 7   report_link     88125 non-null  object
 8   text            88070 non-null  object
 9   posted          86938 non-null  object
 10  city_latitude   72013 non-null  float64
 11  city_longitude  72013 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(9)
memory usage: 8.1+ MB

## Useful DateTime Properties in Pandas

When working with datetime objects in a Pandas DataFrame or Series, you can use the `.dt` accessor to extract various components and perform operations.

### Common Properties
Here are some of the most useful properties:

- **Year**: Extracts the year from a datetime.
    ```python
    ufos["date_time"].dt.year
    ```

- **Month**: Extracts the month as a number (1–12).

```Python
ufos["date_time"].dt.month
```

- **Month Name**: Returns the full name of the month.

```Python
ufos["date_time"].dt.month_name()
```

- **Week of Year**: Extracts the week number (1–52 or 53).

```Python
ufos["date_time"].dt.isocalendar().week
```

- **Day**: Extracts the day of the month (1–31).

```Python
ufos["date_time"].dt.day
```

- **Day of Week**: Extracts the day of the week as a number (0=Monday, 6=Sunday).

```Python
ufos["date_time"].dt.dayofweek
```

- **Day Name**: Returns the full name of the day.

```Python
ufos["date_time"].dt.day_name()
```

- **Hour**: Extracts the hour (0–23).

```Python
ufos["date_time"].dt.hour
```
- **Minute**: Extracts the minute (0–59).

```Python
ufos["date_time"].dt.minute
```
- **Second**: Extracts the second (0–59).

```Python
ufos["date_time"].dt.second
```
- **Quarter**: Returns the quarter of the year (1–4).

```Python
ufos["date_time"].dt.quarter
```
- **Day of Year**: Extracts the ordinal day of the year (1–365 or 366 for leap years).

```Python
ufos["date_time"].dt.dayofyear
```
- **Elapsed Time**: Calculates the number of days since a given reference date.

```Python
ufos["date_time"] - pd.Timestamp("2000-01-01")
```
### Boolean Indicators
- **Leap Year**: Checks if the year is a leap year.

```Python
ufos["date_time"].dt.is_leap_year
```

- **End of Month**: Checks if the date is the last day of the month.

```Python
ufos["date_time"].dt.is_month_end
```
- **Start of Month**: Checks if the date is the first day of the month.

```Python
ufos["date_time"].dt.is_month_start
```

Example Usage:

```Python
ufos["year"] = ufos["date_time"].dt.year
ufos["month_name"] = ufos["date_time"].dt.month_name()
ufos["day_name"] = ufos["date_time"].dt.day_name()
ufos["is_leap"] = ufos["date_time"].dt.is_leap_year
```

These properties make it easy to extract and analyze specific components of datetime data for deeper insights.

In [18]:
ufos["date_time"].dt.year

0        2019.0
1        2019.0
2           NaN
3        2019.0
4        2009.0
          ...
88120    2019.0
88121    2019.0
88122    2019.0
88123    2019.0
88124    2019.0
Name: date_time, Length: 88125, dtype: float64

In [19]:
ufos["date_time"].dt.month

0        12.0
1         3.0
2         NaN
3         4.0
4         3.0
         ...
88120    10.0
88121    10.0
88122    10.0
88123    10.0
88124    10.0
Name: date_time, Length: 88125, dtype: float64

## Comparing Dates in Pandas

When working with date and time data in Pandas, you can easily perform comparisons to filter or analyze your dataset.

### Comparing Entire Dates
You can compare dates directly using string representations. Pandas will automatically parse the strings into datetime objects for comparison.

- Compare with only the year:
  ```python
  ufos["date_time"] > "1980"
  ```

Compare with a full date (year, month, and day):
```python
ufos["date_time"] > "2019-12-10"
```

**⚠ Note**: If you include equality (== or >=), remember that the comparison might fail due to time components (e.g., hour, minute, second). Ensure the time is accounted for if necessary.

### Comparing Specific DateTime Attributes
You can compare specific components of a datetime object using the .dt accessor:

- Compare the hour:
```python
ufos["date_time"].dt.hour == 2
```

### Using between
To check if dates fall within a range, you can use the .between() method. This is useful for inclusive comparisons:

```python
ufos["date_time"].between("2017", "2020")
```

This will include all dates from 2017-01-01 to 2020-12-31.

### Key Points:
- Pandas handles string-to-datetime conversion automatically in comparisons.
- When comparing only years or specific attributes, use the .dt accessor.
- Use between() for an easy and readable way to filter a range of dates.

In [20]:
ufos["date_time"] > "1980"

0         True
1         True
2        False
3         True
4         True
         ...
88120     True
88121     True
88122     True
88123     True
88124     True
Name: date_time, Length: 88125, dtype: bool

In [21]:
ufos["date_time"] > "2019-12-10"

0         True
1        False
2        False
3        False
4        False
         ...
88120    False
88121    False
88122    False
88123    False
88124    False
Name: date_time, Length: 88125, dtype: bool

In [22]:
ufos["date_time"].dt.hour == 2

0        False
1        False
2        False
3         True
4        False
         ...
88120    False
88121    False
88122    False
88123    False
88124    False
Name: date_time, Length: 88125, dtype: bool

In [23]:
ufos["date_time"].between("2017", "2020")

0         True
1         True
2        False
3         True
4        False
         ...
88120     True
88121     True
88122     True
88123     True
88124     True
Name: date_time, Length: 88125, dtype: bool

## Operações com datas
ufos["posted"] - ufos["date_time"]

In [27]:
ufos["posted"] = pd.to_datetime(ufos["posted"])
ufos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88125 entries, 0 to 88124
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   summary         88095 non-null  object
 1   city            87888 non-null  object
 2   state           82890 non-null  object
 3   date_time       86938 non-null  datetime64[ns]
 4   shape           85627 non-null  object
 5   duration        84951 non-null  object
 6   stats           88088 non-null  object
 7   report_link     88125 non-null  object
 8   text            88070 non-null  object
 9   posted          86938 non-null  datetime64[ns]
 10  city_latitude   72013 non-null  float64
 11  city_longitude  72013 non-null  float64
dtypes: datetime64[ns](2), float64(2), object(8)
memory usage: 8.1+ MB

In [ ]:
(ufos["posted"] - ufos["date_time"])

5 days 02:00:00        276
5 days 03:00:00        269
0 days 02:00:00        242
3 days 02:00:00        237
3 days 03:00:00        235
                      ...
11566 days 03:00:00      1
11349 days 16:20:00      1
11291 days 14:00:00      1
11272 days 11:00:00      1
3685 days 06:00:00       1
Name: count, Length: 31642, dtype: int64