# Apply, map, applymap

## 1. `apply`
- Used to **apply a function** to a Series or DataFrame.

### Applying to a Series
- **Basic Example:**
    ```python
    titanic["age"].apply(years_to_days)
    ```
    Applies the years_to_days function to each value in the age column.

### Function with Multiple Arguments:

```python
def currency(num, mult):
    return num * mult
titanic["fare"].apply(currency, args=(24,))
```
The args parameter is used to pass additional arguments to the function.

### Using Lambda Functions:

```python
titanic["fare"].apply(lambda x: f"${x * 24}")
```
### Applying to a DataFrame
- Row/Column-Wise Operation:
    ```python
    df.apply(lambda x: x.max() - x.min())
    ```
- By default, it operates column-wise. Set axis=1 to apply row-wise:
    ```python
    df.apply(lambda x: x.max() - x.min(), axis=1)
    ```

## 2. `map`
Used only for Series to apply a function, dictionary, or mapping to each element.

### Examples
#### Using a Dictionary for Mapping:

```python
titanic["pclass"].map({1: "1st", 2: "2nd", 3: "3rd"})
```
Maps values in the pclass column according to the dictionary.

#### Using a Lambda Function:

```python
df["age"].map(lambda x: x <= 18)
```
Evaluates whether each age is less than or equal to 18.

## 3. `applymap`
Used to apply a function element-wise to all cells in a DataFrame.
```python
df.applymap(func)
```

In [2]:
import pandas as pd
titanic = pd.read_csv("../data/titanic.csv")

In [4]:
def years_to_days(yrs):
    return yrs*365

In [5]:
titanic["age"].apply(years_to_days)

0       2929292929292929292929292929292929292929292929...
1       0.91670.91670.91670.91670.91670.91670.91670.91...
2       2222222222222222222222222222222222222222222222...
3       3030303030303030303030303030303030303030303030...
4       2525252525252525252525252525252525252525252525...
                              ...
1304    14.514.514.514.514.514.514.514.514.514.514.514...
1305    ??????????????????????????????????????????????...
1306    26.526.526.526.526.526.526.526.526.526.526.526...
1307    2727272727272727272727272727272727272727272727...
1308    2929292929292929292929292929292929292929292929...
Name: age, Length: 1309, dtype: object

In [7]:
titanic["fare"].apply(lambda x: f"${x*24}")

0       $211.3375211.3375211.3375211.3375211.3375211.3...
1       $151.55151.55151.55151.55151.55151.55151.55151...
2       $151.55151.55151.55151.55151.55151.55151.55151...
3       $151.55151.55151.55151.55151.55151.55151.55151...
4       $151.55151.55151.55151.55151.55151.55151.55151...
                              ...
1304    $14.454214.454214.454214.454214.454214.454214....
1305    $14.454214.454214.454214.454214.454214.454214....
1306    $7.2257.2257.2257.2257.2257.2257.2257.2257.225...
1307    $7.2257.2257.2257.2257.2257.2257.2257.2257.225...
1308    $7.8757.8757.8757.8757.8757.8757.8757.8757.875...
Name: fare, Length: 1309, dtype: object

In [8]:
def currency(num, mult):
    return num*mult

titanic["fare"].apply(currency, args=(24,))

0       211.3375211.3375211.3375211.3375211.3375211.33...
1       151.55151.55151.55151.55151.55151.55151.55151....
2       151.55151.55151.55151.55151.55151.55151.55151....
3       151.55151.55151.55151.55151.55151.55151.55151....
4       151.55151.55151.55151.55151.55151.55151.55151....
                              ...
1304    14.454214.454214.454214.454214.454214.454214.4...
1305    14.454214.454214.454214.454214.454214.454214.4...
1306    7.2257.2257.2257.2257.2257.2257.2257.2257.2257...
1307    7.2257.2257.2257.2257.2257.2257.2257.2257.2257...
1308    7.8757.8757.8757.8757.8757.8757.8757.8757.8757...
Name: fare, Length: 1309, dtype: object

In [16]:
df = titanic[["pclass", "survived", "age"]]
df.info()
df["age"] = pd.to_numeric(df["age"], errors='coerce')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   int64
 1   survived  1309 non-null   int64
 2   age       1309 non-null   object
dtypes: int64(2), object(1)
memory usage: 30.8+ KB

C:\Users\belac\AppData\Local\Temp\ipykernel_6696\3654638475.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["age"] = pd.to_numeric(df["age"], errors='coerce')

In [17]:
df.apply(lambda x: x.max()-x.min())

pclass       2.0000
survived     1.0000
age         79.8333
dtype: float64

In [18]:
df.apply(lambda x: x.max()-x.min(), axis=1)

0       28.0000
1        0.0833
2        2.0000
3       30.0000
4       25.0000
         ...
1304    14.5000
1305     3.0000
1306    26.5000
1307    27.0000
1308    29.0000
Length: 1309, dtype: float64

In [20]:
titanic["pclass"].map({1:"1st", 2:"2nd", 3:"3rd"})

0       1st
1       1st
2       1st
3       1st
4       1st
       ...
1304    3rd
1305    3rd
1306    3rd
1307    3rd
1308    3rd
Name: pclass, Length: 1309, dtype: object

In [23]:
df["age"].map(lambda x: x <= 18)

0       False
1        True
2        True
3       False
4       False
        ...
1304     True
1305    False
1306    False
1307    False
1308    False
Name: age, Length: 1309, dtype: bool