# Combining series and dataframes

# Summary: Concatenating and Merging in Pandas

## Concatenating Series
- To concatenate series, use `pd.concat([s1, s2])`, which preserves the original indices.
- To create new indices, add the parameter `ignore_index=True`:  
  `pd.concat([s1, s2], ignore_index=True)`.

## Concatenating Columns
- Concatenate along columns by specifying `axis=1`:  
  `pd.concat([s1, s2], axis=1)`.
- You can also concatenate DataFrames. To ignore indices and create new ones, use `ignore_index`, or add keys with the `keys` parameter.

## Join Types in Concatenation
- The default join type is `outer`, which takes the union of indices and fills non-matching values with NaN.
- For an inner join (intersection of indices), use:  
  `pd.concat([animals, fruits], axis=1, join="inner")`.

## Merging DataFrames
- Merge DataFrames based on a common column using:  
  `df1.merge(df2)`.
- Specify the column(s) for merging with the `on` parameter:  
  `df1.merge(df2, on='c1')`.

### Merge Types
- The merge type can be defined as:
  - `outer` (union of both DataFrames),
  - `inner` (intersection),
  - `left` (all rows from the left DataFrame),
  - `right` (all rows from the right DataFrame).

Example:  
`df1.merge(df2, how='left')`.

### Adding Suffixes
- Define suffixes for overlapping column names using:  
  `suffixes=[]`.

In [2]:
import pandas as pd 
s1 = pd.Series(['a', 'b', 'c'])
s2 = pd.Series(['d', 'e', 'f'])

In [3]:
pd.concat([s1, s2])

0    a
1    b
2    c
0    d
1    e
2    f
dtype: object

In [4]:
pd.concat([s1, s2], ignore_index=True)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [5]:
pd.concat([s1, s2], axis=1)

   0  1
0  a  d
1  b  e
2  c  f

In [6]:
fruits = pd.Series(data=["apple", "banana", "cherry"], index=["a", "b", "c"])
animals = pd.Series(data=["cat", "dog", "lion"], index=["c", "b", "d"])

pd.concat([animals, fruits])

c       cat
b       dog
d      lion
a     apple
b    banana
c    cherry
dtype: object

In [7]:
pd.concat([animals, fruits], axis=1)

      0       1
c   cat  cherry
b   dog  banana
d  lion     NaN
a   NaN   apple

In [8]:
pd.concat([animals, fruits], axis=1, join = "inner")

     0       1
c  cat  cherry
b  dog  banana