# DataFrame Analysis Exercise

**Import the `bestsellers.csv` dataset and use it to answer the following questions:**

* Find the lowest User Rating in the DF
* Find the highest Price in the DF
* What is the average User Rating?
* What the average User Rating of the first 5 rows?
* What User Review score appeared the most?
* What is the total (sum) of all the values in the Reviews column?
* How many different authors are featured in the dataset?
* Which author wrote the most number of books on the list?  How many did they write?

In [2]:
import pandas as pd
df = pd.read_csv("../data/bestsellers.csv")

In [12]:
print("The lowest user rating is 3.3")
df.min(numeric_only=True)

The lowest user rating is 3.3

User Rating       3.3
Reviews          37.0
Price             0.0
Year           2009.0
dtype: float64

In [11]:
print("The highest price is 105.0")
df.max(numeric_only=True)

The highest price is 105

User Rating        4.9
Reviews        87841.0
Price            105.0
Year            2019.0
dtype: float64

In [10]:
print("The average User Rating is 4.6")
df.mean(numeric_only=True)

The average User Rating is 105

User Rating        4.618364
Reviews        11953.281818
Price             13.100000
Year            2014.000000
dtype: float64

In [18]:
print("The average User Rating is 4.7 of the first 5 rows")
df.head().mean(numeric_only=True)

The average User Rating is 4.7 of the first 5 rows

User Rating        4.7
Reviews        13494.0
Price             12.6
Year            2016.2
dtype: float64

In [ ]:
print("The User Rating that appeared the most is 4.8")
df.mode()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,Publication Manual of the American Psychologic...,Jeff Kinney,4.8,8580.0,8.0,2009,Non Fiction
1,NaN,NaN,NaN,NaN,NaN,2010,NaN
2,NaN,NaN,NaN,NaN,NaN,2011,NaN
3,NaN,NaN,NaN,NaN,NaN,2012,NaN
4,NaN,NaN,NaN,NaN,NaN,2013,NaN
5,NaN,NaN,NaN,NaN,NaN,2014,NaN
6,NaN,NaN,NaN,NaN,NaN,2015,NaN
7,NaN,NaN,NaN,NaN,NaN,2016,NaN
8,NaN,NaN,NaN,NaN,NaN,2017,NaN
9,NaN,NaN,NaN,NaN,NaN,2018,NaN
10,NaN,NaN,NaN,NaN,NaN,2019,NaN

In [21]:
print("The total of all the values in the Reviews column is 6574305.0")
df.sum(numeric_only=True)

The total of all the values in the Reviews column is

User Rating       2540.1
Reviews        6574305.0
Price             7205.0
Year           1107700.0
dtype: float64

In [26]:
print("There are 248 different authors in the dataset")
print("Jeff Kinney is the author who wrote the most number of books on the list (12 books)")

df.describe(include="object")

There are 248 different authors in the dataset
Jeff Kinney is the author who wrote the most number of books on the list (12 books)

,Name,Author,Genre
count,550,550,550
unique,351,248,2
top,Publication Manual of the American Psychologic...,Jeff Kinney,Non Fiction
freq,10,12,310